@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Set to white */
  --background-end-rgb: 255, 255, 255; /* Set to white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Use a solid color instead of a gradient */
}

/* Add padding to components with the class .component */
.component {
  padding: 1rem; /* Adjust as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
